{% extends 'blog/base.html' %}
    {% block head_title %}Post List{% endblock %}


    {% block main_area %}
<div class='col-lg-12'>
    <span class="col">
        {% if user.is_authenticated %}
            {% if user.is_superuser or user.is_staff %}
                <a class='btn btn-info btn-sm float-right' href='/blog/create_post/' role='button'>New post</a>
            {% endif %}
        {% endif %}
    </span>
    
    {% load static %}
    <link rel="stylesheet" href= "{% static 'blog/css/list.css' %}">



    <h1 class='text-light'>
        Blog
        {% if category %}
        <span class='badge badge-secondary'>{{ category }}
            {% if category == '미분류' %}
            ({{ no_category_post_count }})
            {% else %}
            ({{ category.post_set.count }})
            {% endif %}
        </sapn>
        {% endif %}
        {% if tag %}
    Blog<span class='badge badge-light'><i class='fas fa-tags'></i>{{ tag }} ({{ tag.post_set.count }})</sapn>{% endif %}
    </h1>
    <div class='row'>
    {% for p in object_list %}
        <div class="col-lg-6">
            <div class='card mb-4' id='post-{{ p.pk }}'>
                {% if  p.head_image %}
                    <img class='card_img_top' src='{{ p.head_image.url}}' alt='Card image cap'>
                {% else %}
                    <img class='card_img_top' src='https://picsum.photos/seed/{{p.pk}}/800/200' alt='Random image cap'>
                {% endif %}
                <div class="card-body">
                    {% if p.category %}
                        <span class='badge badge-secondary float-right'>{{ p.category }}</span>
                    {% else %}
                        <span class='badge badge-secondary float-right'>미분류</span>
                    {% endif %}
                    <h2>{{p.title}}</h2>
                    <h5 class='text-muted'>{{p.hook_text}}</h5>
                    <h4 class="lead">{{ p.get_content_markdown | truncatechars_html:50 | safe }}</h4>
                    <p class="text-muted mb-1">{{ p.create_at }}</p>
                    <p class='mb-1'>
                    {% if p.tags.exists %}
                        <i class="fa-solid fa-tag"></i>
                        {% for tag in p.tags.iterator %}
                            <a href='{{ tag.get_absolute_url }}'><span class='badge badge-pill badge-light'>{{ tag }}</sapn></a>
                        {% endfor %}
                    {% endif %}
                    </p>
                    <p class='mb-1 p-0'>작성자: <a href='#'>{{p.author}}</a></span></p>
                    <a  class="btn btn-primary btn-sm" role="button" href='{{p.get_absolute_url}}'>read more</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
    {% endblock %}